{% extends "base.html" %}

{% block extentions %}

<link rel="stylesheet" href="{{url_for('static', filename='/css/fullcalendar-5.11.2.main.min.css')}}">

<link rel="stylesheet" href="{{url_for('static', filename='/css/fontawesome-free@5.13.1.all.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">


<script src="{{url_for('static', filename='/js/fullcalendar-5.11.2-main.min.js')}}"></script>
<script src="{{url_for('static', filename='/js/fullcalendar-5.11.2-locales-pt-br.js')}}"></script>

<script src="{{url_for('static', filename='/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='/js//tooltip.min.js')}}"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      themeSystem: 'bootstrap4',
      locale: 'pt-br',

      eventDidMount: function(info) {
        $(info.el).tooltip ({
          title: info.event.extendedProps.description,
          placement: 'top',
          trigger: 'hover',
          container: 'body'
        });
      },

      events: [
        {% for e in events %}
        {
          title: '{{e.title}}',
          description: '{{e.description}}',
          start: '{{e.date}}',
          color: '{{e.color}}',
          url: "{{url_for('get_docente', id=e.docente_id)}}",
        },
        {% endfor %}
      ]
    });

    calendar.render();
  });

</script>
{% endblock %}

{% block content_title %}Agendamentos{% endblock %}

{% block content %}
<div id='calendar'></div>
{% endblock %}


